body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #0000a0;
  background-image: url(images/tloticket.png), url(images/weblogo1.png), url(images/webbanner4.png), url(images/laughingotter_bluebg.jpg);
  background-position: left top, left top, center top, left top;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;	
  background-size:  23%, 22%, 53%, 43%;	      
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow:2px 2px 3px rgb(15, 30, 165);
  color: orange;
}

.App-link {
  color: #61dafb;
}

input[type=number] {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: calc(10px + 2vmin);
  background-color:rgb(255, 196, 0);
  border:thick solid orangered;
  color:rgb(15, 30, 165);
  font-weight:bold;
  width: 4em;
}

button {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  background-color: rgb(255, 196, 0);
  color: rgb(15, 30, 165);
  border: thick solid orangered;
  border-radius: 15%;
}

textarea {
  font-size: calc(10px + 2vmin);
}

.ContractInfo {
  font-size: calc(10px + 1vmin);
  text-align: left;
  width: 90vw;
  height: 7em;
  padding: 2vw;
  overflow-x: scroll;
  white-space: pre;
}
